/* 解决高度塌陷问题 */

.clearfix::before,
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    /* 设置body 最小宽度，防止主容器溢出 */
    min-width: 1226px;
}


/* 设置一个类 .w ，用来表示中间容器的宽度*/

.w {
    /* 设定主容器的宽度 */
    width: 1226px;
    /* 设置主容器居中； */
    margin: 0 auto;
}


/* 设置所有超链接a 的共有样式 */

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}