* {
    margin: 0;
    padding: 0;
}


/* 顶部导航条的大容器 */

.top-bar-wrapper {
    /* 设置顶部导航条全屏宽度 */
    width: 100%;
    /* 设置导航条高度和行高 */
    height: 40px;
    /* 为了使文字垂直居中，同时设置导航条高度： 40px; */
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
}


/* 在 内部容器 .topbar 处添加一个类 .w， 设置宽度并水平居中； */


/* 设置左侧导航栏：.service */

.service {
    float: left;
}


/* 设置右侧导航栏向右浮动： */

.shop-cart,
.userinfo {
    float: right;
}


/* 设置下载app下拉二维码样式 */

.app .qrcode {
    width: 124px;
    height: 148px;
    background-color: #fff;
    /* 因为 span 小米商城app 继承了祖先元素的lineheight 行高 40px, 所以临时离二维码考下很远，解决这个问题需要重新设置行高： */
    line-height: 1;
    /* 设置文字居中 */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    /* display: none; */
    /* 设置过度效果，将高度设置为0，隐藏overrflow */
    height: 0;
    overflow: hidden;
    /* 利用 transition 属性设置过度效果,就是高度发生变化时候，用1.5s 时间来变化 */
    transition: height 0.5s;
}


/* 设置二维码图片 */

.app .qrcode img {
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}


/* 设置二维码下面的文字 */

.app .qrcode span {
    color: black;
    font-size: 16px;
}

.app:hover .qrcode {
    height: 148px;
}


/* 给.app 设置伪元素，添加二维码图片框上的小三角 */

.app::after {
    border: 5px solid transparent;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: none;
    border-bottom-color: black;
    /* 设置小三角的绝对定位 */
    position: absolute;
    bottom: 0;
    display: none;
}

.app:hover:after {
    display: block;
}


/* 设置所有的 li 向左浮动； */

.topbar li {
    float: left;
}


/* 设置超链接样式 */

.topbar a {
    font-size: 12px;
    color: #b0b0b0;
    /* 让 a 变成块元素，这样高度就会最大40px,这样就可以全部高度区域可以选中a */
    display: block;
}


/* 设置鼠标hover 效果 */

.topbar a:hover {
    color: white;
}


/* 设置中间分割线样式 */

.topbar .line {
    color: #424242;
    font-size: 12px;
    margin: 0 8px;
}


/* 设置购物车的样式 */

.shop-cart {
    margin-left: 26px;
}

.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}


/* 给 shop-cart ul 绑定 hover， 绑定后设置a 的背景颜色: */

.shop-cart:hover a {
    background-color: white;
    color: #FF6700;
}


/* 设置主页上部中间的 header */

.header {
    height: 100px;
}

.logo {
    float: left;
}

.header .logo a {
    width: 55px;
    height: 55px;
    display: block;
    margin-top: 22px;
    background-image: url('https://s02.mifile.cn/assets/static/image/logo-mi2.png');
    background-size: cover;
}